mixin advantages(title)
  .section-content.advantages
    -
      const listAdv = [
        {
          title: 'Поиск',
          desc: 'Для поиска подходящей площадки воспользуйтесь фильтрами: выберите вид спорта, дату, стоимость и характеристики объекта. Оценить варианты и определиться с выбором вам помогут фотографии, отзывы и рекомендации посетителей.'
        },
        {
          title: 'Электронное расписание',
          desc: 'Расписание на портале «FindSport.ru» всегда актуально и соответствует действительности. Спортивные объекты самостоятельно ведут его в CRM-системе и моментально вносят изменения при их появлении.'
        },
        {
          title: 'Бронирование и оплата',
          desc: 'Экономьте свое время, самостоятельно бронируя часы тренировок. Онлайн-бронирование надёжнее телефонного звонка — вы внесли себя в систему и теперь то, что время занято, видят и администратор, и другие пользователи. Для оплаты заказа воспользуйтесь любым доступным способом.'
        },
        {
          title: 'Никаких наценок и вознаграждений',
          desc: 'SporHUB.ru не продаёт спортивные услуги и не берет никаких комиссий. Вы получаете предложения и оплачиваете напрямую спортивной организации. FindSport.ru лишь делает этот диалог быстрым и удобным.'
        },
      ];
    +title-wrap(title)
    .section-content__wrap
      ul.advantages__list
        each item in listAdv
          li.advantages__item
            h4.advantages__title= item.title
            .advantages__desc
              p= item.desc
